<br>
<div class="jumbotron">
  <h1>Blocipedia</h2>
  <h2>Social, Markdown Wikis</h2>
  <p>
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
  </p>
</div>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-5 accounts">
    <h2>Unlimited Public Wikis!</h2>
  </div>
  <div class="col-md-5 accounts">
    <h2>Unlimited Private Wikis!</h2>
  </div>
  <div class="col-md-1">
  </div>
</div>
